.movieInfo {
    color: rgb(243, 233, 233) !important;
}

.moviePage {
    margin: 0 1%;
    padding: 10px;  
    border: 5px solid black;
}

.movieTitle {
    font-size:20px;
}

.movieDescription {
    padding-top: 7px;
}

.homeButton {
    margin-bottom: 5px;
    display: block;
    color: inherit;
    text-decoration: none;
}

.homeButton:hover {
    color: inherit;
    text-decoration: none;
}